.parentTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridTop {
  border: 1px solid #f44336;
  display: flex;
  flex-direction: column;
}

.lightBackground {
  background-color: #00FFFF
}

.columnsStyle {
  display: flex;
  flex-direction: column;
}

.rowStyle {
  display: flex;
}

.darkBackground {
  background-color: #F0FFFF
}

.box {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.instructions-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#result-message {
  width: 300px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fddf4a;
  background: black;
  animation: blinker 1s linear infinite;
}

#play-buttons{
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.cross {
  color: #f90;
  font-size: 2.5em;
  border-radius: 5px;
  line-height: 100px;
}